streamlit==1.38.0
extra-streamlit-components==0.1.71
streamlit-authenticator==0.3.3
fastapi
uvicorn
psycopg2-binary
SQLAlchemy
alembic
requests
backoff
pandas
numpy
python-dotenv
pydantic
pydantic-settings
pytest
black
openpyxl
boto3
bcrypt
plotly
